pgmpy @ git+https://github.com/EdinhoAndra/pgmpy.git@a2ddea21b36b0209ed5295f55a450d5f78acc709
networkx>=2.7.1
matplotlib>=3.3.4
numpy>=1.24.1
pandas
tqdm
ismember
scikit-learn
python-louvain
packaging
df2onehot
pypickle
tabulate
lingam
datazets>=1.1.2
setgraphviz>=1.0.3
